
    <table class="table">
        <thead>
          <tr>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let city of cities; let idx = index">
            <td>{{city.city}}</td>
              <td>
                <div class="edit-delete">
                  <a routerLink="/edit-city/{{city.id}}/{{city.city}}">
                    <button type="button" class="btn btn-primary">Edit</button>
                  </a>
                  <button type="button" class="btn btn-danger" (click) ="deleteCity(city.id);removeCityFromList(city, i)">Delete</button>
                  </div>
              </td>
          </tr>
        </tbody>
      </table>
